
//@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"

//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"

//@theme "/usr/share/rofi/themes/DarkBlue.rasi"

@theme "/home/jackson/.config/rofi/themes/squared-nord.rasi"
